/* AddDonationCenter.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-DC-dialog {
    background: #FFF5E1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.add-donation-center-btn {
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 22px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.add-donation-center-btn:hover {
    background-color: #308b30;
}

.cancel-adding-btn {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 22px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.cancel-adding-btn:hover {
    background-color: #b5413d;
}