.donor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #8B1E1E;
    padding: 20px;
}

.donor-header .left-btn {
    margin-left: 80px;
    margin: 6px 00px 6px 80px;
    background-color: #FFF5E1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 22px;
    cursor: pointer;
}

.donor-header .left-btn:hover {
    background-color: #e8e2d2;
}

.donor-header .right-btn {
    margin-right: 80px;
    margin: 6px 80px 6px 0px;
    background-color: #FFF5E1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 22px;
    cursor: pointer;
}

.donor-header .right-btn:hover {
    background-color: #e8e2d2;
}